.c1{
    font-size: 20px;
    width: 80%;
    border-style: 1px;
    float: left;
    background-color: #00ffff;
    color: black;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.c2{
    font-size: 20px;
    width: 30%;
    border-style: 1px;
    float: left;
    background-color: #a52a2a;
    color: white;
    height: auto;
}
.c3{
    font-size: 20px;
    border-style: 1px;
    float: left;
    background-color: #bbff00;
    color: black;
    
}


ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}

li {display: inline-block;}

.logo{
    float: left;
    margin-right: 20px;

    margin-top: 5px;
  
}
.text
{
    float: left;
    margin: 10px;
}

.menu{
    height: 60px;
    background-color: #a52a2a;
    /*background-color: #c615d6;*/
    margin: 10px;
    /*margin-bottom: 50px;*/
    background-color: #949494;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid #33ADFF;
    display: block;
}
.silka
{
    background-color: #949494;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: left;
    
}
li{
    border-style: solid;
    border-radius: 30px;
    padding: 10px;
}

.div_block1{
    height: 20%;
    border-radius: 30px;
    border-style: solid;
    width: 20%;
    float: left;
    margin: 2%;
    text-align: center;
}
.div_block2{
    height: 20%;
    border-radius: 30px;
    border-style: solid;
    width: 20%;
    float: left;
    margin: 2%;
    text-align: center;
}
.div_block3{
    height: 20%;
    border-radius: 30px;
    border-style: solid;
    width: 20%;
    float: left;
    margin: 2%;
    text-align: center;
}
.div_block4{
    height: 20%;
    border-radius: 30px;
    border-style: solid;
    width: 20%;
    float: left;
    margin: 2%;
    text-align: center;
}
