body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Контейнер */

.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* Интро  */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/intro.jpg) center no-repeat;
    background-size: cover;
}

.intro_suptitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    color: white;
    text-align: center;

}

.intro__title {
    color: white;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.inro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    /*  выравнивание по центру #center */
}

/* Шапка  */

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}


/* Navigation */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    position: relative;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: yellow;

    opacity: 0;
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear;
}


.nav_link:hover {
    color: yellow;
}

.nav_link:hover::after {
    opacity: 1;
    /* display: block; */
    /* color: coral; */
}