.mem{

    /* 
    margin-left:365px; 
    margin-right: auto;
    background-color: #666; */
    height:100px;
    width: 200px; 
    position: absolute;
    /* margin-right: 450px; */
    margin-left:365px; 
    left: 0;
    top: 0;
   
}


.menu {
	width: auto;
	display: table;
  margin-left:720px; 
  width: 520px; 
}

.menu ul {
	display: table-row;
	
}
.menu li {
	display: table-cell;
	
}
/* .menu ul li:hover, .menu a:hover {
	background: #666;
} */
.menu li a {
  text-decoration: none;
	display: block;
	padding: 35px 15px;
	color: rgb(0, 0, 0);
	text-align: center;
}