.mem{

    /* 
    margin-left:365px; 
    margin-right: auto;
    background-color: #666; */
    height:200px;
    width: 375px; 
    position: absolute;
    margin-right: 350px;
    margin-left:365px; 
    left: 0;
    top: 0;
    padding: 4px;
}

.menu {
	width: auto;
	display: table;
  margin-left:365px; 
}
.menu ul {
	display: table-row;
}
.menu li {
	display: table-cell;
	background: #2767A0;
}
.menu ul li:hover, .menu a:hover {
	background: #666;
}
.menu li a {
	display: block;
	padding: 8px 15px;
	color: #fff;
	text-align: center;
}