body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Контейнер */

.conteiner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/* Интро  */

.intro {
    width: 100%;
    height: 100vh;
    background: url(../img/intro.jpg) center no-repeat;
    background-size: cover;
}


/* Шапка  */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}